[Unit]
Description=sneakydog-raspberrypi-demo
After=network.target

[Service]
User=pi
Type=simple
WorkingDirectory=/home/pi/Projects/sneakydog-raspberrypi-demo
Environment="PATH=/home/pi/Projects/sneakydog-raspberrypi-demo/.venv"
ExecStart=/home/pi/Projects/sneakydog-raspberrypi-demo/.venv/bin/gunicorn "sneakydog_raspberrypi_demo:create_app"

[Install]
WantedBy=multi-user.target